<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>With SQL</title>
</head>

<body>
  <h2> <%= data.title %></h2>
  <ul>
    <% for (let i =0; i < data.contacts.length; i++)  {%>

    <li>
      <%= data.contacts[i].id  %>
      |
      <%= data.contacts[i].fullName  %>
      |
      <%= data.contacts[i].phone  %>
    </li>

    <% }%>
  </ul>
</body>

</html>